body {
  background-color: #d6eaf8;
  justify-content: center;
  display: flex;
  align-items: center;
  top: auto;
}

.Hi {
    position:absolute;
    width: 99%;
    top:12%;
    text-align:center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.Hi2 {
    position:absolute;
    width: 99%;
    top:80%;
    text-align:center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: rgb(56, 30, 30);
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }
  .gradient-button:hover {
    background-position: right center;
  }

  
  


 
  