* {
  margin: 0 auto;
  padding: 0;
}
html,
body {
  background-color: #d6eaf8;
  text-align: center;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  height: 100%;
}

.container {
  margin-top: 190px;
  flex: 1 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.Hi {
  top: 100%;
  font-size: 90px;
  font-family: "Montserrat", sans-serif;
}
.Hi2 {
  margin: 30px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: rgb(56, 30, 30);
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;

  transition: 0.5s;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}
.gradient-button:hover {
  background-position: right center;
  box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
    1px 2px 4px 0px rgba(0, 255, 255, 0.7),
    2px 4px 8px 0px rgba(0, 255, 255, 0.7),
    2px 4px 16px 0px rgba(0, 255, 255, 0.7);
}

.footer {
  flex: 0 0 auto;
  top: 92%;
  width: 30%;
  right: 35%;
  border-radius: 100px;
  background-color: #aae6f3;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.social-network {
  margin: 6px;
  display: inline-block;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.social-network:hover {
  background-position: right center;
  transform: translateY(2px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
